.home_page_container {
  border: 2px solid black;
  padding: 30px;
  margin: 30px;
}

.individual_calculator_container {
  border: 1px solid black;
  padding: 10px;
  margin: 0px;
}

.calculators_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}